.page {
	&__advantages {
		margin-top: 24px;
		margin-bottom: 72px;
		@media (max-width: $breakpoint-md) {
			margin-top: 12px;
			margin-bottom: 36px;
		}

	}
}

.advantages {
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		&:before {
			content: '';

			position: absolute;
			top: 0;
			right: auto;

			z-index: -1;

			width: 100vw;
			height: 509px;

			background-color: $superLightGrean;
			@media (max-width: $breakpoint-sm) {
				height: 341px;
			}
		}
	}

	&__heading {
		width: 100%;
		margin-top: 47px;
		margin-bottom: 24px;

		display: flex;
		justify-content: space-between;

		@media (max-width: $breakpoint-sm) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__heading-text {
		font-size: 36px;
		font-family: "Abhaya Libre",serif;
		font-weight: 700;
		line-height: 36 / 47 * 1em;
		@media (max-width: $breakpoint-sm) {
			font-size: 27px;
		}
	}

	&__button {
		font-family: "SB Sans Text",sans-serif;
		line-height: 16 / 21 * 1em;

		padding: 16px 21px;

		border-radius: 10px;
		background-color: #21a038;
		color: #fff;

		@media (max-width: $breakpoint-sm) {
			margin-top: 15px;
			font-size: 12px;
		}
	}

	&__content {
		display: flex;
		flex-direction: row;
		gap: 24px;
		@media (max-width: $breakpoint-xl) {
			justify-content: center;
			flex-wrap: wrap;
		}

		@media (max-width: $breakpoint-sm) {
			position: relative;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		padding: 0 17px;

		width: 370px;
		height: 489px;

		background-color: #FFFFFF;
		border-radius: 65px;
		box-shadow: 20px 20px 60px 0 rgba(23,33,0,.06);
		transition: opacity 0.5s;
		@media (max-width: $breakpoint-lg) {
			position: absolute;
			z-index: 0;
			opacity: 0;
		}
		@media (max-width: $breakpoint-sm) {
			width: 226px;
			height: 318px;
			border-radius: 42px;
		}
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;

		margin-top: 17px;

		max-width: 336px;
		max-height: 375px;
		width: 100%;
		height: 100%;

		background-color: $lightGrean;
		border-radius: 65px;
		@media (max-width: $breakpoint-sm) {
			border-radius: 24px;
			max-width: 192px;
			max-height: 214px;
			img{
				width: 130px;
				height: auto;
			}
		}
	}

	&__title {
		margin-top: 12px;

		font-size: 18px;
		font-family: "Abhaya Libre",serif;
		font-weight: 700;
		line-height: 18 / 23 * 1em;

		@media (max-width: $breakpoint-sm) {
			font-size: 13.5px;
		}

	}

	&__text {
		margin-top: 6px;

		font-family: "SB Sans Text",sans-serif;
		line-height: 16 / 21 * 1em;

		color: $gray;
		@media (max-width: $breakpoint-sm) {
			font-size: 12px;
		}
	}

	&__nav{
		display: none;
		flex-direction: row;
		width: 23px;
		gap: 4px;

		&-button{
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $superLightGrean;
		}
		&-button.active{
			background-color: #21A038;
		}

		@media (max-width: $breakpoint-lg) {
			margin-top: 520px;
			display: flex;
		}
		@media (max-width: $breakpoint-sm) {
			margin-top: 336px;
			display: flex;
		}
	}
}

.active{
	opacity: 1;
	z-index: 1;
}
